<div class = "d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <img src="/assets/images/logo.png" class = "logo" style = "max-height: 100px;" alt="logo">
    <nav class = "my-2 my-md-0 mr-md-3 text-uppercase" style = "font-size: larger;">

            <a class="p-2 text-dark headings" href = "#">Home</a>
            <a class="p-2 text-dark headings" href = "#">Men</a>
            <a class="p-2 text-dark headings" href = "#">Women</a>
            <a class="p-2 text-dark headings" href = "#">Boys</a>
            <a class="p-2 text-dark headings" href = "#">Girls</a>
            <a class="p-2 text-dark headings" href = "#">Contact Us</a>

        
    </nav>
    <div class = "d-flex align-items-center">
        <a class="position-relative">
            <div class = shoppingcart>
                <i class = "fa fa-shopping-cart fa-2x mr-5"></i>

            </div>
            
            <div class = "cart-no">5</div>
        </a>
            <a class = "btn btn-outline-primary mr-2">Login</a>
            <div class = "buttonspacing">
                <a class = "btn btn-outline-primary ml-3">Register</a>
        </div>
        
    </div>
</div>
